h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    color: #ccc2c2;
    font-weight: bold;
}

.alert {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}
.danger {
    background-color: rgb(223, 48, 48);
}
.success {
    background-color: rgb(84, 169, 226);
}